@charset "UTF-8";
/*VARIABLES*/
/*MIXIN*/
/*CONDICIONALES*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap");
.comodidades {
  background-color: #dde1e9;
}

.nosotros {
  background-color: #dde1e9;
}

.equipo {
  background-color: #dde1e9;
}

body {
  background-color: #dde1e9;
}

/*uso de if, else y else if para crear un darkmode*/
/*MAP GET*/
.text-primary-color {
  color: #68B984;
}

.text-secondary-color {
  color: #0b241b;
}

.bg-tertiary-color {
  background-color: #ffffff;
}

/* ENCABEZADO - MENU */
.contenedor-header {
  width: 100%;
  border-bottom: 1px solid #0b241b;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  padding: 0 20px;
}
.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #ffffff;
}
.contenedor-header header nav a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  text-transform: uppercase;
}
.contenedor-header header nav a:hover {
  color: #68B984;
}
.contenedor-header header .redes a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 5px 8px;
}
.contenedor-header header .redes a:hover {
  color: #68B984;
}

.txtRojo {
  color: #68B984;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: stretch; /* Estira verticalmente el logo */
  max-width: 100px;
}

.nav-responsive {
  display: none;
  font-size: 30px;
}

.offcanvas-start {
  border-bottom: 1px solid #0b241b;
  background-color: rgba(0, 0, 0, 0.7);
  color: #dde1e9;
}

.menu-hamburguesa {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.menu-hamburguesa .enlaces {
  display: flex;
  flex-direction: column; /* Alinea los enlaces uno debajo del otro */
  align-items: center; /* Centra horizontalmente los enlaces */
}

.menu-hamburguesa .enlaces a {
  margin-bottom: 10px; /* Ajusta el valor según el espaciado deseado */
  font-size: large;
}

.menu-hamburguesa a {
  display: block;
  width: 100%;
  margin-bottom: 10px; /* Ajusta el valor según el espaciado deseado */
}

.redes-sociales2 {
  display: flex;
  flex-direction: row; /* Alinea los enlaces uno debajo del otro */
  align-items: center; /* Centra horizontalmente los enlaces */
  justify-content: center; /* Centra horizontalmente los elementos */
}

.btn-close {
  background-color: #ffffff;
}

/* SECCIÓN INICIO */
.inicio {
  height: 100vh;
  background: linear-gradient(rgba(0, 41, 7, 0.295), rgba(0, 78, 35, 0.144)), url(../img/fondo.webp);
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  position: relative;
}
.inicio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.inicio .info {
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.inicio .info h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}
.inicio .info p {
  margin: 20px;
  color: #797e8e;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.inicio .info .btn-mas {
  width: 50px;
  margin: auto;
  height: 50px;
  border: 2px solid #68B984;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #68B984;
  margin-top: 50px;
  text-decoration: none;
}
.inicio .opciones {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.inicio .opciones .opcion {
  border-top: 2px solid #797e8e;
  padding: 7px;
  color: #797e8e;
  margin: 0 20px;
}

/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros {
  max-width: 1100px;
  margin: auto;
  height: 100vh;
  background-color: normal;
  padding: 50px 20px;
}
.nosotros .fila {
  display: flex;
  align-items: center;
}
.nosotros .fila .col {
  width: 50%;
}
.nosotros .fila .col img {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
.nosotros .fila .col .contenedor-titulo {
  display: flex;
}
.nosotros .fila .col .contenedor-titulo align-items:center .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info {
  margin-left: 30px;
}
.nosotros .fila .col .contenedor-titulo .info .frase {
  color: #68B984;
}
.nosotros .fila .col .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.nosotros .fila .col p {
  margin-bottom: 10px;
  line-height: 28px;
}
.nosotros .fila .col .p-especial {
  font-weight: bold;
}
.nosotros hr {
  margin-bottom: 30px;
}
.nosotros .fila-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nosotros .fila-nosotros .frase {
  font-size: 18px;
  font-weight: 600;
}
.nosotros .fila-nosotros h2 {
  font-size: 2.5rem;
}
.nosotros .fila-nosotros button {
  background-color: #68B984;
  border: none;
  color: #ffffff;
  padding: 15px 35px;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.nosotros2 {
  max-width: 1100px;
  margin: auto;
  background-color: #dde1e9;
  padding: 50px 20px;
}

/* *********** */
/* SECCION ALUMNOS */
/* *********** */
.contenedor-header-alumnos {
  width: 100%;
  border-bottom: 1px solid #0b241b;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}
.contenedor-header-alumnos header {
  max-width: 1100px;
  margin: auto;
  /* agregado de include segun mixin*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #ffffff;
}
.contenedor-header-alumnos header nav a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 20px;
}
.contenedor-header-alumnos header nav a:last-child {
  margin-right: 0;
}
.contenedor-header-alumnos header nav a:hover {
  color: #68B984;
}
.contenedor-header-alumnos header .redes a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 5px 8px;
}
.contenedor-header-alumnos header .redes a:hover {
  color: #68B984;
}

.txtRojo {
  color: #68B984;
}

.nav-responsive {
  display: none;
  font-size: 30px;
}

.card {
  border-radius: 10px;
  background-color: #343a40;
  width: 100%;
  height: 100%;
  color: #ffffff;
  align-items: center;
}

.card-link {
  cursor: pointer;
  font-weight: bold;
  border: 1px groove none;
  background-color: #0b241b;
  transition: background-color 0.3s;
  border-radius: 5px;
  color: #ffffff;
}
.card-link .card-link:hover {
  background-color: #68B984; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.card-de-pago {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background-color: #343a40;
  color: #ffffff;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
.card-de-pago .card-link:hover {
  background-color: #68B984;
}

/* *********** */
/* PAGINA CONTACTO */
/* *********** */
.inicio2 {
  color: #ffffff;
  background: linear-gradient(rgba(0, 41, 7, 0.295), rgba(0, 78, 35, 0.144)), url(../img/fondo.webp);
  background-size: cover;
  background-position: center center;
  padding: 100px 20px 200px;
}
.inicio2 .contenido-seccion {
  max-width: 800px;
  margin: auto;
}
.inicio2 .contenedor-titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.inicio2 .contenedor-titulo .info {
  margin-top: 50PX;
  font-size: 50PX;
}
.inicio2 .contenedor-titulo .info .frase {
  color: #68B984;
  text-shadow: 10px 10px 2px rgba(0, 78, 35, 0.144);
  -webkit-text-stroke: 0.5px #000000;
}
.inicio2 .fila {
  display: flex;
  margin-top: 50px;
}
.inicio2 .fila .col {
  width: 50%;
}
.inicio2 .fila input {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  margin-left: 20px;
}
.inicio2 textarea {
  display: block;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 200px;
}
.inicio2 .fila-datos {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
}
.inicio2 i {
  color: #68B984;
  display: inline-block;
  margin-right: 10px;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: #68B984;
  background: linear-gradient(0deg, #68B984 0%, #156832 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* SERVICIOS */
.servicios {
  color: #ffffff;
  position: relative;
}
.servicios .contenido-seccion {
  background: linear-gradient(rgba(0, 41, 7, 0.295), rgba(0, 78, 35, 0.144)), url(../img/fondo-servicios.webp);
  background-size: cover;
  background-position: center center;
  margin: auto;
  padding: 0 20px;
}
.servicios .contenido-seccion .fila {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 100px 0;
}
.servicios .contenido-seccion .fila .col {
  width: 50%;
}
.servicios .contenido-seccion .fila .col img {
  display: block;
  width: 50%;
  margin: auto;
}
.servicios .contenido-seccion .fila .col img .contenedor-titulo {
  display: flex;
  align-items: center;
}
.servicios .contenido-seccion .fila .col img .contenedor-titulo .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.servicios .contenido-seccion .fila .col img .contenedor-titulo .info {
  margin-left: 30px;
}
.servicios .contenido-seccion .fila .col img .contenedor-titulo .info .frase {
  color: #68B984;
}
.servicios .contenido-seccion .fila .col img .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.servicios .contenido-seccion .fila .col .p-especial {
  font-weight: bold;
}
.servicios .info-servicios {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  background-color: #ffffff;
  color: #0b241b;
}
.servicios .info-servicios div {
  padding: 30px;
  border: 1px solid #dde1e9;
}
.servicios .info-servicios i {
  color: #68B984;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.servicios .info-servicios h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.servicios .info-servicios p {
  line-height: 30px;
}

/* estetica */
.boton-imagen {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #0b241b;
  color: #0b241b;
}

/* COMODIDADES */
.comodidades {
  max-width: 1100px;
  margin: auto;
  background-color: normal;
  padding: 5px 5px;
}
.comodidades .fila {
  display: flex;
  align-items: center;
}
.comodidades .fila .col {
  width: 50%;
}
.comodidades .fila .col img {
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}
.comodidades .fila .col .contenedor-titulo {
  display: flex;
}
.comodidades .fila .col .contenedor-titulo align-items:center .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.comodidades .fila .col .contenedor-titulo .info {
  margin-left: 30px;
}
.comodidades .fila .col .contenedor-titulo .info .frase {
  color: #68B984;
}
.comodidades .fila .col .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.comodidades .fila .col p {
  margin-bottom: 10px;
  line-height: 28px;
}
.comodidades .fila .col .p-especial {
  font-weight: bold;
}
.comodidades .fila .col li {
  margin-bottom: 20px;
  color: #0b241b;
}
.comodidades .fila .col li span {
  font-weight: bold;
  color: #68B984;
}

/* ********** */
/* GALERIA */
/* ********** */
.galeria {
  color: #ffffff;
  background: linear-gradient(rgba(0, 41, 7, 0.295), rgba(0, 78, 35, 0.144)), url(../img/fondo-galeria.webp);
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}
.galeria .contenido-seccion {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.galeria .contenedor-titulo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.galeria .contenedor-titulo .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.galeria .contenedor-titulo .info {
  margin-left: 30px;
}
.galeria .contenedor-titulo .info .frase {
  color: #68B984;
}
.galeria .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.galeria .fila {
  display: flex;
}
.galeria .fila .col img {
  width: 100%;
  display: block;
}

/* ENTRENADORES */
.equipo {
  max-width: 1100px;
  margin: auto;
  padding-top: 95px;
  background-color: normal;
}
.equipo .contenedor-titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.equipo .contenedor-titulo .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.equipo .contenedor-titulo .info {
  margin-left: 30px;
}
.equipo .contenedor-titulo .info .frase {
  color: #68B984;
}
.equipo .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.equipo .fila {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}
.equipo .fila .col {
  width: 25%;
}
.equipo .fila .col img {
  max-height: 400px;
  display: block;
  margin: auto;
}
.equipo .fila .info {
  border: 5px solid #0b241b;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(#68B984, #44835a);
  color: #ffffff;
}
.equipo .fila .info p {
  margin: 20px 0;
}
.equipo .fila .info a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}

/* *********** */
/* CONTACTO */
/* *********** */
.contacto {
  color: #ffffff;
  background: linear-gradient(rgba(0, 41, 7, 0.295), rgba(0, 78, 35, 0.144)), url(../img/fondo.webp);
  background-size: cover;
  background-position: center center;
  padding: 100px 20px;
}
.contacto .contenido-seccion {
  max-width: 800px;
  margin: auto;
}
.contacto .contenedor-titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.contacto .contenedor-titulo .numero {
  color: #68B984;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.contacto .contenedor-titulo .info {
  margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase {
  color: #68B984;
}
.contacto .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.contacto .fila {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.contacto .fila .col {
  width: 48%;
}
.contacto .fila input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.contacto textarea {
  display: block;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 200px;
}
.contacto .fila-datos {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
}
.contacto i {
  color: #68B984;
  display: inline-block;
  margin-right: 10px;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: #68B984;
  background: linear-gradient(0deg, #68B984 0%, #156832 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.carousel-inner {
  width: 860px;
}

.especial {
  text-align: center; /* Centra horizontalmente el texto */
  display: flex;
  justify-content: center; /* Centra verticalmente el texto */
  align-items: center;
  text-shadow: 2px 2px 4px rgb(255, 255, 255); /* Sombras blancas */
}

.txtverde {
  color: #68B984;
  font-size: 4rem;
  letter-spacing: 3px;
}

/* *********** */
/* FOOTER */
/* *********** */
footer {
  background-color: #151623;
  padding: 30px 0;
}
footer .info {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: space-between;
  padding: 0 20px;
}
footer .info p {
  color: #797e8e;
}
footer .info a {
  text-decoration: none;
  color: #797e8e;
  display: inline-block;
  margin: 0 15px;
}

.redes-sociales2 i {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.facebook {
  background-image: url("../img/facebook.webp");
}

.maps {
  background-image: url("../img/google-maps.webp");
}

.instagram {
  background-image: url("../img/instagram.webp");
}

.youtube {
  background-image: url("../img/youtube.webp");
}

.volver-arriba a {
  color: #ffffff;
  text-decoration: none;
}
.volver-arriba a:hover {
  text-decoration: underline;
}

/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
  header nav {
    position: initial;
    display: none;
    transform: translate(0);
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #151623;
    z-index: 99;
  }
  nav.responsive a {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 30px;
  }
  .inicio .opciones {
    display: none;
  }
  .nosotros .fila {
    display: block;
  }
  .nosotros .fila .col {
    width: 100%;
    margin: auto;
  }
  .nosotros .fila .col img {
    max-width: 200px;
    display: block;
    margin: auto;
  }
  .nosotros2 .fila {
    display: block;
  }
  .nosotros2 .fila .col {
    width: 100%;
    margin: auto;
  }
  .nosotros2 .fila .col img {
    max-width: 200px;
    display: block;
    margin: auto;
  }
  .containercard {
    width: 100%;
    margin-left: 100px;
  }
  .col-2 {
    width: 100%; /* Cambia el ancho al 100% para que las cards ocupen todo el ancho */
    margin-bottom: 5px; /* Añade un margen inferior para separar las cards */
  }
  .col-1 {
    display: none; /* Oculta el espacio en blanco */
  }
  .card {
    width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho de las columnas */
  }
  .card-body {
    padding: 10px; /* Ajusta el padding según tus necesidades */
  }
  .card-img-top {
    max-width: 100%; /* Cambia el ancho máximo de la imagen al 100% */
    height: auto; /* Establece la altura automática para mantener la proporción */
  }
  .boton-imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .servicios .contenido-seccion .fila {
    display: block;
  }
  .servicios .contenido-seccion .fila .col {
    width: 100%;
  }
  .comodidades .fila {
    display: block;
  }
  .comodidades .fila .col {
    width: 100%;
  }
  .comodidades .fila .col img {
    max-width: 200px;
  }
  .equipo .fila {
    display: block;
  }
  .equipo .fila .col {
    width: 100%;
    margin-bottom: 20px;
  }
  .equipo .fila .col img {
    max-height: 200px;
  }
  .equipo .fila .info {
    max-width: 250px;
    margin: auto;
  }
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacto .fila-datos {
    display: block;
  }
  .contacto .fila-datos .col {
    margin-bottom: 20px;
  }
  footer .info {
    display: block;
    text-align: center;
  }
  footer .info p {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .youtubevideo {
    width: 30%;
    height: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .servicios .info-servicios {
    grid-template-columns: 1fr;
  }
  .servicios .info-servicios div {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios .info-servicios i {
    font-size: 2rem;
  }
  .servicios .info-servicios h3 {
    font-size: 1.5rem;
  }
  .servicios .info-servicios p {
    line-height: 24px;
  }
  .galeria .contenedor-titulo {
    flex-direction: column;
    align-items: center;
  }
  .galeria .youtubevideo {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .galeria .youtubevideo .youtubevideo {
    width: 30%;
    height: 10%;
  }
  .frase {
    font-size: 70%;
  }
  .comodidades .fila .col .contenedor-titulo .info h2 {
    font-size: 70%;
  }
  .inicio .info h2 {
    font-size: 70%;
  }
  .nosotros .fila-nosotros h2 {
    font-size: 70%;
  }
  .servicios .fila .col .contenedor-titulo .info h2 {
    font-size: 70%;
  }
  .contacto .contenedor-titulo .info h2 {
    font-size: 70%;
  }
  .nosotros .fila .col .contenedor-titulo .info h2 {
    font-size: 70%;
  }
  .equipo .contenedor-titulo .info h2 {
    font-size: 70%;
  }
  .inicio .info h1 {
    font-size: 2rem;
  }
  .txtverde {
    color: #68B984;
    font-size: 2rem;
  }
  .carousel-item {
    width: 400px;
  }
  .carousel-inner {
    width: 100%;
  }
  .boton-imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .card-body {
    background-color: #222;
    color: #fff;
    padding: 10px;
    font-size: 0.8rem; /*tamaño de la fuente*/
    text-align: center;
    overflow: hidden; /*Oculta el desbordamiento*/
    max-width: 100%;
  }
  .nosotros2 {
    transform: translateX(-100px);
  }
}
* {
  font-family: "Myriad Condensed Bold Italic", sans-serif;
}

a {
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff; /* Hereda el color del elemento padre */
}

html {
  scroll-behavior: smooth;
}

body {
  background: normal;
}

/*# sourceMappingURL=estilo.css.map */

/* login */

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
}

form label {
  margin-bottom: 35px;
}

form label .fa-solid {
  font-size: 20px;
  color: #68B984;
  margin-right: 10px;
}

form label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #68B984;
  padding: 0 5px;
  font-size: 18px;
}

form label input::placeholder {
  color: rgba(37, 37, 37, 0.5);
}

form .link {
  color: #252525;
  margin-bottom: 15px;
}

form button {
  color: #fff;
  border: none;
  background: linear-gradient(to right, #68B984, #27663d);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

/* carro */

/* Globales */

body .bod{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}

#clima-info {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background-color: #0e5e1c;
  color: #fff;
  border-radius: 5px;
}

/* modo oscuro */

label {
  position: relative;
}
label input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}
label svg {
  width: 35px;
  height: auto;
  display: block;
}
label input + svg .light {
  transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
label input + svg .translate,
label input + svg .rotate,
label input + svg .background,
label input + svg .astronaut,
label input + svg .surfer {
  transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
label input:checked + svg .light {
  opacity: 0;
}
label input:checked + svg .translate {
  transform: translateX(0px);
}
label input:checked + svg .rotate {
  transform: rotate(0deg);
}
label input:checked + svg .background {
  transform: translate(0px) scale(1);
}
