/* ENCABEZADO - MENU */

.contenedor-header{
    width: 100%;
    border-bottom: 1px solid $detalleoscuro;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
        header{
        @include orden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: $claro; 
        nav a{
            display: inline-block;
            text-decoration: none;
            color: $claro;
            padding: 5px;
            text-transform: uppercase;
            &:hover{
                color: $colorprincipal;
            }
        }
        .redes a{
            text-decoration: none;
            color: $claro;
            display: inline-block;
            padding: 5px 8px;            
            &:hover{
                color: $colorprincipal;
            }
        }
    }
}

.txtRojo{
    color: $colorprincipal;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch; /* Estira verticalmente el logo */
    max-width: 100px;
}

.nav-responsive{
    display: none;
    font-size: $fuente-grande;
}

.offcanvas-start{
    border-bottom: 1px solid $detalleoscuro;
    background-color: rgba(0,0,0,.7);
    color:#dde1e9;
}

.menu-hamburguesa {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }

  .menu-hamburguesa .enlaces {
    display: flex;
    flex-direction: column; /* Alinea los enlaces uno debajo del otro */
    align-items: center; /* Centra horizontalmente los enlaces */
  }

.menu-hamburguesa .enlaces a {
    margin-bottom: 10px; /* Ajusta el valor según el espaciado deseado */
    font-size: large;
  }

  .menu-hamburguesa a {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Ajusta el valor según el espaciado deseado */
  }

  .redes-sociales2{
    display: flex;
    flex-direction: row; /* Alinea los enlaces uno debajo del otro */
    align-items: center; /* Centra horizontalmente los enlaces */
    justify-content: center; /* Centra horizontalmente los elementos */
  }

.btn-close{
    background-color: $claro;
}