/* ENCABEZADO - MENU */

.contenedor-header{
    width: 100%;
    border-bottom: 1px solid $detalleoscuro;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 20px;
        header{
        @include orden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: $claro; 
        nav a{
            display: inline-block;
            text-decoration: none;
            color: $claro;
            padding: 5px;
            text-transform: uppercase;
            &:hover{
                color: $colorprincipal;
            }
        }
        .redes a{
            text-decoration: none;
            color: $claro;
            display: inline-block;
            padding: 5px 8px;            
            &:hover{
                color: $colorprincipal;
            }
        }
    }
}

.txtRojo{
    color: $colorprincipal;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch; /* Estira verticalmente el logo */
    max-width: 100px;
}

.nav-responsive{
    display: none;
    font-size: $fuente-grande;
}

.offcanvas-start{
    border-bottom: 1px solid $detalleoscuro;
    background-color: rgba(0,0,0,.7);
    color: $claro;
}

.btn-close{
    background-color: $claro;
}