
/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
    header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:#151623;
        z-index: 99;
        a{
            display: block;
            width: fit-content;
            margin: 10px auto;
            font-size: $fuente-grande;
        }
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
        .col{
            width: 100%;
            margin: auto;
            img{
                max-width: 200px;
                display: block;
                margin: auto;
            }
        }
    }
    .nosotros2 .fila{
        display: block;
        .col{
            width: 100%;
            margin: auto;
            img{
                max-width: 200px;
                display: block;
                margin: auto;
            }
        }
    }
    .containercard {
        width: 100%;
        margin-left: 100px;
    }
    .col-2 {
        width: 100%; /* Cambia el ancho al 100% para que las cards ocupen todo el ancho */
        margin-bottom: 5px; /* Añade un margen inferior para separar las cards */
    }
    .col-1 {
        display: none; /* Oculta el espacio en blanco */
    }
    .card {
        width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho de las columnas */
    }
    .card-body {
        padding: 10px; /* Ajusta el padding según tus necesidades */
    }
    .card-img-top {
        max-width: 100%; /* Cambia el ancho máximo de la imagen al 100% */
        height: auto; /* Establece la altura automática para mantener la proporción */
    }
    .boton-imagen{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .servicios .contenido-seccion .fila{
        display: block;
        .col{
            width: 100%;
        }
    }
    .comodidades .fila{
        display: block;
        .col{
            width: 100%;
            img{
                max-width: 200px;
            }
        }
    }
    .equipo .fila{
        display: block;
        .col{
            width: 100%;
            margin-bottom: 20px;
            img{
                max-height: 200px;
            }
        }
        .info{
            max-width: 250px;
            margin: auto;
        }
    }
    .contacto .fila{
        display: block;
        .col{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .contacto .fila-datos{
        display: block;
        .col{
            margin-bottom: 20px;
        }
    }
    footer .info{
        display: block;
        text-align: center;
        p{
            margin-bottom: 10px;
        }
    }
    }
    @media only screen and (max-width: 700px) {
        .youtubevideo{
            width: 30%;
            height: 10%;
        }
}

@media only screen and (max-width: 600px) {
    .servicios .info-servicios {
    grid-template-columns: 1fr;
    div {
        padding: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    i {
        font-size: 2rem;
        }
    h3 {
        font-size: 1.5rem;
        }
    p {
        line-height: 24px;
        }
    }
    .galeria .contenedor-titulo {
        flex-direction: column;
        align-items: center;
    }
    .galeria .youtubevideo {
        width: 100%;
        height: auto;
        margin-top: 20px;
        .youtubevideo{
            width: 30%;
            height: 10%;
        }
    }
    .frase{
        font-size: 70%;
    }
    .comodidades .fila .col .contenedor-titulo .info h2{
        font-size: 70%;
        }
    .inicio .info h2{
        font-size: 70%;
    }
    .nosotros .fila-nosotros h2{
        font-size: 70%;
    }
    .servicios .fila .col .contenedor-titulo .info h2{
        font-size: 70%;
    }
    .contacto .contenedor-titulo .info h2{
        font-size: 70%;
    }
    .nosotros .fila .col .contenedor-titulo .info h2{
        font-size: 70%;
    }
    .equipo .contenedor-titulo .info h2{
        font-size: 70%;
    }
    .inicio .info h1{
        font-size: 2rem;
    }
    .txtverde {
        color: $colorprincipal;
            font-size: 2rem;
    }
    .carousel-item{
        width: 400px;
    }
    .carousel-inner{
        width: 100%;
    }
    .boton-imagen{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .card-body {
        background-color: #222;
        color: #fff;
        padding: 10px;
        font-size: 0.8rem; /*tamaño de la fuente*/
        text-align: center;
        overflow: hidden; /*Oculta el desbordamiento*/
        max-width: 100%;
    }
    .nosotros2{
        transform: translateX(-100px);
    }
    }