/* *********** */
/* SECCION ALUMNOS */
/* *********** */
.contenedor-header-alumnos{
    width: 100%;
    border-bottom: 1px solid $detalleoscuro;
    background-color: rgba(0,0,0,.7);
    padding: 0 20px;
    header{
        @include orden; /* agregado de include segun mixin*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: $claro;
        nav a {
            text-decoration: none;
            color: $claro;
            text-transform: uppercase;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            &:hover{
                color: $colorprincipal;
            }
        }
        .redes a{
            text-decoration: none;
            color: $claro;
            display: inline-block;
            padding: 5px 8px;
            &:hover{
                color: $colorprincipal;
            }
        }
    }
}

.txtRojo{
    color: $colorprincipal;
}
.nav-responsive{
    display: none;
    font-size: $fuente-grande;
}
.card {
    border-radius: 10px; 
    background-color: #343a40; 
    width: 100%; 
    height: 100%;
    color: $claro;
    align-items: center;
}
.card-link{
    cursor: pointer;
    font-weight: bold;
    border: 1px groove none;
    background-color: $detalleoscuro;
    transition: background-color 0.3s;  
    border-radius: 5px;  
    color: $claro;
    .card-link:hover{
        background-color: $colorprincipal; /* Cambia el color de fondo al pasar el cursor sobre el botón */
    }
}

.card-de-pago{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; 
    background-color: #343a40; 
    color: $claro;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    .card-link:hover{
        background-color: $colorprincipal;
    }
}
